*{
    box-sizing: border-box;
    margin-top: 1em;
}

form{

    label{
        text-align: right;
    }

    .error{
        border-color: red;
    }
}

@media screen and (max-width: 768px){
    form{

        label{
            text-align: left;
        }
    }
}
