.pie {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: yellowgreen;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, transparent), color-stop(0, #655));
  background-image: -webkit-linear-gradient(left, transparent 50%, #655 0);
  background-image: -o-linear-gradient(left, transparent 50%, #655 0);
  background-image: linear-gradient(to right, transparent 50%, #655 0); }
