@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  .container header {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-shadow: 0 3px 3px grey;
    box-shadow: 0 3px 3px grey;
    z-index: 1; }
    .container header #research {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-bottom: 0.5em;
      /* Positionne la liste des suggestions au-dessous de la zone de saisie */ }
      .container header #research #address {
        width: 60vw; }
      .container header #research #suggestions {
        position: absolute;
        border: 1px solid black;
        margin: auto;
        top: 95%;
        max-height: 50vh;
        width: 60vw;
        overflow-y: scroll;
        background-color: white;
        z-index: 2;
        /* Augmente l'espacement gauche et droite des suggestions */
        /* Modifie la couleur de la suggestion survolée par la souris */ }
        .container header #research #suggestions .suggestion {
          padding-left: 2px;
          padding-right: 2px; }
        .container header #research #suggestions .suggestion:hover {
          background-color: #adf;
          cursor: pointer; }
  .container #middle-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .container #middle-container #stations-list {
      width: 300px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      overflow-y: scroll; }
      .container #middle-container #stations-list .station {
        margin: 0.5em; }
      .container #middle-container #stations-list .station:hover {
        background-color: #adf;
        cursor: pointer; }
    .container #middle-container #right-panel {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1; }
      .container #middle-container #right-panel #map {
        width: 100%;
        height: 100%; }
  .container footer {
    height: 100px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-shadow: 0 -3px 3px grey;
    box-shadow: 0 -3px 3px grey;
    padding: 2em;
    z-index: 1; }

.button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bdb7b0), to(#a89a9a));
  background-image: -webkit-linear-gradient(#bdb7b0, #a89a9a);
  background-image: -o-linear-gradient(#bdb7b0, #a89a9a);
  background-image: linear-gradient(#bdb7b0, #a89a9a);
  border: none;
  -webkit-box-shadow: 2px 2px 6px grey;
  box-shadow: 2px 2px 6px grey;
  padding: 1em;
  max-width: 15em; }

.input {
  padding: 0.5em; }

.center-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center; }

.error {
  color: white;
  background-color: red;
  -webkit-box-shadow: 3px 3px #5a5858;
  box-shadow: 3px 3px #5a5858; }

.open {
  color: green;
  font-weight: 500; }

.closed {
  color: red;
  font-weight: 500; }
