* {
    box-sizing: border-box;
}

/////////MISE EN FORME DU DOCUMENT//////////
html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    header{

        flex-shrink: 0;
        box-shadow: 0 3px 3px grey;
        z-index: 1;

        #research {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5em;

            #address {
                width: 60vw;
            }

            /* Positionne la liste des suggestions au-dessous de la zone de saisie */
            #suggestions {
                position: absolute;
                border: 1px solid black;
                margin: auto;
                top: 95%;
                max-height: 50vh;
                width: 60vw;
                overflow-y: scroll;
                background-color: white;
                z-index: 2;
                
                /* Augmente l'espacement gauche et droite des suggestions */
                .suggestion {
                    padding-left: 2px;
                    padding-right: 2px;
                }

                /* Modifie la couleur de la suggestion survolée par la souris */
                .suggestion:hover {
                    background-color: #adf;
                    cursor: pointer;
                }
            }
        }
    }

    #middle-container{
        flex-grow: 1;
        overflow: hidden;
        display: flex;

        #stations-list{
            width: 300px;
            flex-shrink: 0;
            overflow-y: scroll;

            .station{
                margin: 0.5em;
            }

            .station:hover{
                background-color: #adf;
                cursor: pointer;
            }
        }

        #right-panel{
            flex-grow: 1;

            #map{
                width: 100%;
                height: 100%;
            }
        }
    }

    footer {
        height: 100px;
        flex-shrink: 0;
        box-shadow: 0 -3px 3px grey;
        padding: 2em;
        z-index: 1;
    }
}

////////////CLASSES DE PERSONNALISATION///////////

.button {
    background-image: linear-gradient(rgb(189, 183, 176), rgb(168, 154, 154));
    border: none;
    box-shadow: 2px 2px 6px grey;
    padding: 1em;
    max-width: 15em;
}

.input {
    padding: 0.5em;
}

.center-content {
    align-items: center;
    text-align: center;
}

.error {
    color: white;
    background-color: red;
    box-shadow: 3px 3px rgb(90, 88, 88);
}

.open {
    color: green;
    font-weight: 500;
}

.closed {
    color: red;
    font-weight: 500;
}

.small {
    color: grey;
    font-size: 0.8rem;
    font-style: italic;
}
